@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
:root{
    --bg-primary:#1f3c43;
    --white:#e0e9e9;
    --seiuge:#c3bfa6;

}
body
{
    background: var(--bg-primary);
    font-family: "Play", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
    flex-direction: column;

}
.ttt_container{
    animation: fadeUp 0.4s forwards ease-in-out;
}
.container
{

    background: var(--white);
    min-width: 400px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin: 0 30px;


}
.title
{
    color: var(--bg-primary);
    text-transform: uppercase;
    font-size: 2.65rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.ttt_btns
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.btn
{
    padding: 20px 0;
    margin-bottom: 1rem;
    height: 100px;
    border-radius: 8px;
    border: 0;
    background: #f0eeee;
    font-size: 3rem;
    font-weight: 700;
    color: var(--bg-primary);
    cursor: pointer;
    transition: 0.4s;
}
.btn:hover
{
    background: #e9e6e6;
    box-shadow:  0 0 8px #e0e9e9;
    border: 1px solid var(--bg-primary);
    
}
.resetBtn
{
    width: 100%;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
    background: var(--bg-primary);
    color: var(--white);
    border-radius: 4px;
    letter-spacing: 2px;
    transition: 0.4s;
}
.resetBtn:hover
{
    background: #1b343a;
}
.resetBtn:active
{
    transform: scale(0.99);
}

.modal-container
{
    width:400px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    display: none;
    animation: fadeUp 0.6s forwards ease-in-out;
}
.modal-container img
{
    width: 100%;
    border: 1px solid var(--white);
    margin-bottom: 1rem;
}
#modal-mssg{
    text-align: center;
    margin-bottom: 1rem;
    color: var(--bg-primary);
}
#dlt-modal
{
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 1.3em;
    color: var(--bg-primary);
    cursor: pointer;
}



@keyframes fadeUp {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);

    }

    
    
}
#line{
    width: 330px;
    height: 5px;
    background:var(--bg-primary);
    position: absolute;
    opacity: 0;
    transform: 0.4s;
    
    
    
}
#line.show{
    opacity: 1;
}
#copy{
    margin-top: 2rem;
    color: #fff2;
}
#copy a{
    text-decoration: none;
    color: #fff2;
    font-weight: 900;
}